{% extends 'base.html.twig' %}

{% import _self as macroStuff %}

{% macro treeItem(children) %}
    {% import _self as macroStuff %}

    {% if children is iterable %}
        <ul>
            {% for child in children %}
                <li>
                    <span class="keyword">{{ child.label }}</span>
                    {% if child.children is defined %}
                        {{ macroStuff.treeItem(child.children) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% block title %}
    Flickr images
{% endblock %}

{% block body %}
    <input id="searchedText" type="text" title="text search"/>
    <input id="doSearch" type="button" value="search"/>

    <input type="button" id="tree-toggle" value="Toggle tree" />

    <div id="keyword-tree" class="hidden">
        <ul>
        {% for child in tree %}
            <li><span class="keyword">{{ child.label }}</span></li>
            {% if child.children is iterable %}
                {{ macroStuff.treeItem(child.children) }}
            {% endif %}
        {% endfor %}
        </ul>
    </div>

    <hr/>
    <ul id="image-list"></ul>
    <hr/>

    <input id="searchMore" type="button" value="Load more"/>

    <div id="img" class="hidden">
        <div id="img-darkness"></div>
        <div id="img-frame">
            <div id="img-title"></div>
            <div id="img-data"></div>
            <img id="img-image" src="" />
            <div id="img-tags"></div>
        </div>
    </div>

{% endblock %}

{% block preScripts %}
    <script type="text/javascript" src="{{ asset('js/egf/egf.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-sf-route.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
{% endblock %}

{% block postScripts %}
    <script type="text/javascript">
        new SearchController()
            .setBaseSearchUrl("{{ path('app_ajax_getimages', {'text':'_text_', 'page':'_page_'}) }}")
            .setBaseInfoUrl("{{ path('app_ajax_getinfo', {'imageId':'_imageId_'}) }}")
            .setDefaultText("{{ defaultText }}")
            .init();
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/style.css') }}"/>
{% endblock %}