ul#image-list {
    list-style-type: none;
}

ul#image-list > li {
    display:inline-block;
    margin-right: 3px;
}

#img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#img-darkness {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.95);
    z-index: 1;
}

#img-frame {
    position: absolute;
    margin: 50px auto;
    padding: 10px;
    background: rgb(192,192,192);
    z-index: 2;
}

#img-title {
    display: inline-block;
    width: 45%;
}

#img-data{
    display: inline-block;
    width: 45%;
    text-align: right;
}

#img-image {
    display: block;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.keyword {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}